.text-items-mob {
  /* margin-top: 20px;
  max-width: 345px; */
}
.container-text-mob {
  /* position: relative; */
}
.Image-item-mob {
  padding: 10px;
}
.first-title-mob {
  font-size: 2.4em;
}

.sub-title-mob {
  font-size: 0.8em;
  color: rgb(164, 164, 164);
}
.price-field-mob {
  background-color: rgb(39 35 35 / 75%);
  margin-top: 0px;
  text-align: center;
  padding: 6px;
  height: 220px;
  /* max-width: 345px; */
}

.price-field-subtitle-left-mob {
  float: left;
}
.price-field-subtitle-right-mob {
  float: right;
}
.image {
  height: 220px;
  max-width: 345px;
}
