.text-items {
  margin-top: 20px;
}
.container-text {
  position: relative;
}
.Image-item {
  padding: 10px;
}
.first-title {
  font-size: 2.4em;
  width: 308px;
}
@media (max-width: 600px) {
  .first-title {
    width: inherit;
  }
}
.sub-title {
  font-size: 0.8em;
  color: rgb(164, 164, 164);
}
.price-field {
  background-color: rgb(39 35 35 / 75%);
  margin-top: 20px;
  text-align: center;
  padding: 6px;
}

.price-field-subtitle-left {
  float: left;
}
.price-field-subtitle-right {
  float: right;
}
