.h5 {
  font-family: TGL0-1451Engschrift !important;
  font-size: 20px;
  text-align: left;
  margin-bottom: 0px;
}
.text-items {
  margin-top: 12px;
  margin-bottom: 80px;
}
.container-text {
  position: relative;
}
.Image-item {
  padding: 10px;
}
.first-title {
  font-size: 1.7em;
  /* width: 308px; */
}
@media (max-width: 600px) {
  .first-title {
    width: inherit;
  }
}
.sub-title {
  font-size: 0.8em;
  padding-top: 4px;
  color: rgb(164, 164, 164);
}
.price-field {
  background-color: rgb(39 35 35 / 75%);
  margin-top: 20px;
  text-align: center;
  padding: 6px;
}

.price-field-subtitle-left {
  float: left;
  padding-top: 6px;
  font-family: Barlow;
}
.price-field-subtitle-right {
  float: right;
  padding-top: 6px;
  font-family: Barlow;
}
