.newsletter_button {
  margin-top: 156px;
  height: 42px;
  width: 100% !important;
}
.nlButton {
  background: #ffffff !important;
  height: 50px !important;
}

.nltextfield {
  width: fit-content !important;
  margin: 16px 0px !important;
  width: 100% !important;
}
.nltextfield:hover {
}
.NLtitle {
  font-size: 25px !important;
  font-family: TGL0-1451Engschrift !important;
}
@media (max-width: 1366px) {
  .NLtitle {
    font-size: 25px !important;
    font-family: TGL0-1451Engschrift !important;
  }
}
@media (max-width: 1200px) {
  .newsletter_button {
    margin-top: 46%;
  }
}
@media (max-width: 850px) {
  .newsletter_button {
    margin-top: 46%;
  }
}
@media (max-width: 800px) {
  .newsletter_button {
    margin-top: 42%;
  }
}
@media (max-width: 770px) {
  .newsletter_button {
    margin-top: 38%;
  }
}
@media (max-width: 740px) {
  .newsletter_button {
    margin-top: 34%;
  }
}
@media (max-width: 710px) {
  .newsletter_button {
    margin-top: 34%;
  }
}
@media (max-width: 690px) {
  .newsletter_button {
    margin-top: 23%;
  }
}
@media (max-width: 660px) {
  .newsletter_button {
    margin-top: 20%;
  }
}
@media (max-width: 640px) {
  .nlButton {
    margin-top: -25px !important;
    background: #ffffff;
    height: 50px;
  }
}

/* @media (max-width: 600px) {
  .newsletter_button {
    width: 90% !important;
  }
} */
