.text-price-mob {
  position: absolute;
  top: 0px;
  right: 0;
  width: 25%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}
.newsletter-textfield-mob {
  width: fit-content !important;
  margin: 16px 0px !important;
  width: 100% !important;
}
.newsLetter-checkbox-mob {
  float: left;
  padding-left: 0 !important;
}
.newsLetter-btn-mob {
  width: 90% !important;
  /* position: absolute !important; */
  bottom: 22px !important;
  /* margin: 20px 9px 0 0.2px !important; */
  height: 50px;
  /* padding: 11px 62.9px 10px 64.1px; */
  opacity: 0.93;
  background-color: #ffffff;
  margin-top: 50px !important;
}
.buttonText {
  width: 158px;
  height: 29px;
  font-family: TGL0-1451Engschrift;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #c28c02;
}
.text {
  color: #a4a4a4;
}

.text-items-mob {
  background-color: rgba(0, 0, 0, 0.75);
}
