.mobileview {
  display: block;
}
@media (max-width: 375px) {
  .mobileview {
    display: none !important;
  }
}
.extraTextHideMobileView {
}
@media (max-width: 500px) {
  .extraTextHideMobileView {
    display: none !important;
  }
}
