.buttonstyle {
  background: #ffffff !important;
  width: 280px !important;
  float: right !important;
  margin-bottom: 40px;
  height: 50px;
}
.multiline-textfield {
  width: fit-content !important;
  margin: 16px 0px !important;
  width: 100% !important;
  /* height: 260px; */
  /* border: 2px solid #ffffff !important; */
}
.checkboxDiv {
  display: flex;
  margin-left: -9px;
}
.checkboxmobile {
  margin-left: -10px;
  display: flex;
}
.KontactHeading {
  font-size: 50px !important;
  color: #ffffff;
  margin-top: 5%;
  font-family: TGL0-1451Engschrift !important;
}
@media (max-width: 1024px) {
  .KontactHeading {
    font-size: 55px !important;
  }
}

@media (max-width: 600px) {
  .KontactHeading {
    font-size: 30px !important;
  }
}

@media (max-width: 600px) {
  .buttonstyle {
    float: left !important;
    width: 100% !important;
    margin-bottom: 30px !important;
    margin-top: 20px !important;
    height: 50px !important;
    font-size: 25px;
  }
  .multiline-textfield {
    height: 315px;
  }
}
