.text-price {
  position: absolute;
  top: 0px;
  right: 0;

  height: 99.4%;
  width: 360px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}

.response-img {
  width: 13%;
  /* max-width: 167px; */
  height: auto;
}
.newsLetter-checkbox {
  float: left;
  padding-left: 0 !important;
  border-radius: 0px !important;
}
.newsLetter-btn {
  width: 100% !important;
  margin-top: 140px !important;
  /* position: absolute !important;
  bottom: 22px !important; */
}

img {
  object-fit: cover;
}
.newsletter-textfield {
  width: fit-content !important;
  margin: 16px 0px !important;
  width: 100% !important;

  /* border: 2px solid #ffffff !important; */
}
.newsletter-textfield:hover {
  /* border: 2px solid #ffffff !important; */
}

.contactField {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mutliLine-msg {
  width: 64%;
  height: 260px;
}
.field1 {
  width: 30%;
}
.field3 {
  width: 30%;
}
.field2 {
  width: 30%;
  margin-left: 4%;
}
@media (max-width: 840px) {
  .mutliLine-msg {
    width: 100%;
  }
}

@media (max-width: 1366px) {
  .field1 {
    width: 40%;
  }
  .field3 {
    width: 40%;
  }
  .field2 {
    width: 40%;
    margin-left: 2.5%;
  }
  .mutliLine-msg {
    width: 100%;
  }
}
@media (max-width: 785px) {
  .field1 {
    width: 45%;
  }
  .field3 {
    width: 45%;
  }
  .field2 {
    width: 45%;
    margin-left: 15px;
  }
  .mutliLine-msg {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .field1 {
    width: 100%;
  }
  .field3 {
    width: 100%;
  }
  .field2 {
    width: 100%;
    margin-left: 0;
  }
  .mutliLine-msg {
    width: 100%;
  }
  .contactField {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .dash-width {
    max-width: 100px;
  }
  .text-price {
    position: relative;
    width: 100%;
    padding: 0 !important;
  }
  .newsLetter-last-button {
    margin-top: 50px !important;
  }
  .mutliLine-msg {
    height: 180px !important;
  }
}
