.text-price {
  position: absolute;
  top: 0px;
  right: 3%;
  width: 22%;
  height: 100%;
}
.newsletter-textfield {
  width: fit-content !important;
  margin: 16px 0px !important;
  width: 100% !important;
}
/* .newsletter-textfield:hover {
  border-color: 2px solid green !important;
} */
/* .newsletter-input-field {
  margin-top: 10px;
  padding: 10px;
} */
/* input email label class*/
.MuiInputLabel-outlined.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiInputLabel-shrink {
  color: #ecbd46;
}
/* input email text label class*/
.MuiOutlinedInput-input.MuiOutlinedInput-input {
  color: #ecbd46;
  padding: 1px 1px;
  border: 1px solid #fff;
  height: 2em;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}
/* .MuiFormLabel-root.Mui-focused.MuiFormLabel-root.Mui-focused {
  color: #ecbd46;
} */

.MuiOutlinedInput-notchedOutline.MuiOutlinedInput-notchedOutline {
  border-color: white !important ;
  border-width: 0px !important;
  width: 20px;
}
.MuiFormLabel-root.MuiFormLabel-root {
  color: #ecbd46;
  text-align: end !important;
}
/* .MuiFormControl-root.MuiFormControl-root {
  margin-left: -10px;
  margin-right: 50px;
} */
.newsLetter-checkbox {
  float: left;
  padding-left: 0 !important;
}
.newsLetter-btn {
  width: 100% !important;
  position: absolute !important;
  bottom: 22px !important;
}
