.text-price {
  position: absolute;
  top: 0px;
  right: 0;

  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}

@media (max-width: 600px) {
  .text-price {
    position: relative;
  }
  .newsLetter-last-button {
    margin-top: 50px !important;
  }
}
.newsletter-textfield {
  width: fit-content !important;
  margin: 16px 0px !important;
  width: 100% !important;
}
.newsLetter-checkbox {
  float: left;
  padding-left: 0 !important;
}
.newsLetter-btn {
  width: 80% !important;
  position: absolute !important;
  bottom: 22px !important;
}
