.UnsernImage {
  /* width: 450px; */
  height: 330px;
}
.UnzeGoldtextdiv {
  float: left;
}
#wrapper {
  display: flex;
  justify-content: stretch;
}

.textPrice {
  float: left;
  size: 54px;
}
.BeschreibungButton {
  background-color: #ecbd46;
}
.buttonTextColor {
  color: #c28c02 !important ;
  background-color: #ffffff;
  width: 219px;
  height: 44px;
}
