.logoMargin {
  margin: 43px 80px !important;
}
.footerMobHeading {
  font-size: "20px !important";
  font-family: " TGL0-1451Engschrift !important";
  color: " #ffffff !important";
}
.f-logo {
  max-width: 29.2vw;
  max-height: 6.7vw;
  margin-top: 10%;
}
.logoSize {
  margin-top: 60px;
  margin-bottom: 50px;
}
@media (max-width: 600px) {
  /* .logoSize {
    width: 225px !important;
    height: 100% !important;
    margin-top: 60px !important;
    margin-bottom: 50px !important;
    margin-left: 29px !important;
  } */
}
