@import url("http://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

/* Main body */

body {
  margin: 0px;
  background-color: black;
}

.HeaderbgTextGradient {
  position: absolute;
  width: 60%;
  top: 0px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  );
}
.HeaderbgTextGradientMob {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0)
  );
  width: 235px;
  height: 684px;
  margin: 0 17px 0 0;
  padding: 492px 33px 155px 15px;
}
.MuiInputBase-root.MuiInputBase-root {
  color: #ecbd46;
}

p {
  color: #ffffff;
}

.bodyComponentLayout {
  margin-inline: 75px;
}
/* Navigation css*/
.MuiAppBar-positionStatic.MuiAppBar-positionStatic {
  background-color: transparent;
}
.MuiList-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/* background image sytles */
.img-container {
  position: relative;
}
.imagShadow {
  box-shadow: 3px 10px 10px 0 rgba(0, 0, 0, 0.75) !important;
}

.centered {
  position: absolute;
  top: 42%;
  left: 5%;
}

.MuiPaper-root.MuiPaper-root.MuiPaper-root.MuiPaper-root {
  background-color: transparent;
}
.centered_2 {
  position: absolute;
  top: 35%;
  padding-inline-start: 50vw;
  min-width: 90vw;
  transform: translate(-50%, -50%);
  font-size: 2.3rem;
}
.MuiTypography-colorTextSecondary.MuiTypography-colorTextSecondary {
  color: #ffffff;
}
.MuiPaper-root.MuiPaper-root {
  background-color: transparent;
}
.MuiContainer-root.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.IpadPro,
.mobile,
.IpadQuer {
  display: none;
}
.dash {
  width: 14%;
  margin-top: -40px;
}
.bottom-yellow-line-margin {
  margin-top: -15px;
}
.image {
  max-height: 350px;
}
.responsive {
  width: 34%;
  /* max-width: 167px; */
  height: auto;
}

/* media querry*/
.textHeaderColor {
  color: rgb 236 189 70;
}
.MuiSvgIcon-root {
  color: white;
}

/* Home background shadow handeling on different screen sizes */
.HomebackgroundGradiant {
  background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
    url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
    url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
    url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
    url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
    url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
  background-repeat: no-repeat;

  background-position: left 70px top, right top 530px, left top 1200px,
    right bottom 1600px, right bottom 370px, left bottom;
  background-size: 35%, 43%, 30%, 37%, 37%, 25%;
}

@media (max-width: 1350px) {
  .HomebackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 530px, left top 1200px,
      right bottom 1600px, right bottom 370px, left bottom;
    background-size: 55%, 43%, 30%, 37%, 37%, 30%;
  }
}

@media (max-width: 1024px) {
  .HomebackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 920px, left top 1800px,
      right bottom 1600px, right bottom 370px, left bottom;
    background-size: 65%, 43%, 30%, 37%, 37%, 30%;
  }
}
@media (max-width: 900px) {
  .HomebackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 920px, left top 1800px,
      right bottom 1600px, right bottom 370px, left bottom;
    background-size: 65%, 45%, 33%, 37%, 37%, 30%;
  }
}

@media (max-width: 810px) {
  .HomebackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 920px, left top 1700px,
      right bottom 1500px, right bottom 370px, left bottom;
    background-size: 45%, 48.5%, 40%, 40%, 37%, 20%;
  }
}
@media (max-width: 600px) {
  .HomebackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 570px, left top 1250px,
      right bottom 1600px, right bottom 370px, left bottom;
    background-size: 45%, 43%, 40%, 37%, 37%, 30%;
  }
}
@media (max-width: 400px) {
  .HomebackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 600px, left top 1200px,
      right bottom 1600px, right bottom 370px, left bottom;
    background-size: 45%, 48%, 40%, 37%, 37%, 30%;
  }
}

/* contact background shadow handeling on different screen sizes */

@media (max-width: 2500px) {
  .ContactbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 40%, 30%;
  }
}
@media (max-width: 1350px) {
  .ContactbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 55%, 42%;
  }
}
@media (max-width: 1050px) {
  .ContactbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 65%, 42%;
  }
}
@media (max-width: 790px) {
  .ContactbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left 65px top 140px, left bottom;
    background-size: 45%, 43%, 47%;
  }
}
@media (max-width: 600px) {
  .ContactbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 45%, 25%;
  }
}

/* about shadow images resizing */

@media (max-width: 2500px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 70px top, right top 600px, left bottom 875px,
      left bottom;
    background-size: 40%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1350px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 560px, left bottom 800px,
      left bottom;
    background-size: 55%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1280px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 600px, left bottom 1310px,
      left bottom;
    background-size: 65%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1180px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 550px, left bottom 1210px,
      left bottom;
    background-size: 65%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 1030px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 1040px, left bottom 1140px,
      left bottom;
    background-size: 65%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 920px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 1040px, left bottom 1085px,
      left bottom;
    background-size: 65%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 850px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 1100px, left bottom 1018px,
      left bottom;
    background-size: 45%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 715px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 1100px, left bottom 975px,
      left bottom;
    background-size: 45%, 35%, 30%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 600px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 650px, left bottom 770px,
      left bottom;
    background-size: 45%, 35%, 35%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 540px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 650px, left bottom 700px,
      left bottom;
    background-size: 45%, 35%, 35%, 30%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 380px) {
  .AboutbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);
    background-position: left 40px top, right top 650px, left bottom 660px,
      left bottom;
    background-size: 45%, 35%, 35%, 30%;
    background-repeat: no-repeat;
  }
}

/* Impressum shadow images resizing */

@media (max-width: 2500px) {
  .ImpressumbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 40%, 30%;
  }
}
@media (max-width: 1350px) {
  .ImpressumbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 55%, 42%;
  }
}
@media (max-width: 1050px) {
  .ImpressumbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 65%, 42%;
  }
}
@media (max-width: 790px) {
  .ImpressumbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left 65px top 140px, left bottom;
    background-size: 45%, 43%, 47%;
  }
}
@media (max-width: 600px) {
  .ImpressumbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 45%, 25%;
  }
}

/* datenschutz shadow images resizing */

@media (max-width: 2500px) {
  .DatenSchutzbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 40%, 30%;
  }
}
@media (max-width: 1350px) {
  .DatenSchutzbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 55%, 42%;
  }
}
@media (max-width: 1050px) {
  .DatenSchutzbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 65%, 42%;
  }
}
@media (max-width: 790px) {
  .DatenSchutzbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left 65px top 140px, left bottom;
    background-size: 45%, 43%, 47%;
  }
}
@media (max-width: 600px) {
  .DatenSchutzbackgroundGradiant {
    background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage1.png),
      url(../src/Images/Home/Desktop/Fotos/TextureImage_Right.jpg);

    background-repeat: no-repeat;
    background-position: left 40px top, left bottom;
    background-size: 45%, 25%;
  }
}
@media (max-width: 2000px) {
  .IpadPro,
  .mobile,
  .IpadQuer {
    display: none;
  }
  .desktop {
    display: block;
  }
}
@media (max-width: 1366px) {
  .desktop,
  .mobile,
  .IpadQuer {
    display: none;
  }
  .IpadPro {
    display: block;
  }
}
@media (max-width: 1024px) {
  .img-container {
    height: 1196px;
  }
  .centered {
    top: 60%;
  }
  .desktop,
  .mobile,
  .IpadPro {
    display: none;
  }
  .IpadQuer {
    display: block;
  }
  .bodyComponentLayout {
    margin-inline: 60px;
  }
}

@media (max-width: 600px) {
  .img-container {
    padding-inline: revert;
    height: 684px;
  }
  .desktop,
  .IpadPro,
  .IpadQuer {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media (max-width: 768px) {
  .bodyComponentLayout {
    margin-inline: 50px;
  }
}
@media (max-width: 2400px) {
  .bg_screen {
  }
}
@media (max-width: 600px) {
  .bodyComponentLayout {
    margin-inline: 25px;
  }
  .bg_screen {
    display: none;
  }
  .mobilebg {
  }
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
