@import url("http://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
}

/* Main body */
body {
  /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  background-image: url(../src/Images/Home/Desktop/Fotos/TextureImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

p {
  color: #ffffff;
}
.bodyComponentLayout {
  margin-inline: 5.5%;
}
/* Navigation css*/
.MuiAppBar-positionStatic.MuiAppBar-positionStatic {
  background-color: transparent;
}

/* background image sytles */
.img-container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 35%;
  padding-inline-start: 50vw;
  min-width: 90vw;
  transform: translate(-50%, -50%);
}
.MuiTypography-colorTextSecondary.MuiTypography-colorTextSecondary {
  color: #ffffff;
}
.MuiPaper-root.MuiPaper-root {
  background-color: black;
}
.IpadPro,
.mobile,
.IpadQuer {
  display: none;
}
.dash {
  width: 14%;
  margin-top: -40px;
}
.bottom-yellow-line-margin {
  margin-top: -15px;
}
.image {
  max-height: 350px;
}
.responsive {
  width: 34%;
  /* max-width: 167px; */
  height: auto;
}

/* media querry*/
.textHeaderColor {
  color: rgb 236 189 70;
}

@media (max-width: 1366px) {
  .desktop,
  .mobile,
  .IpadQuer {
    display: none;
  }
  .IpadPro {
    display: block;
  }
  /* p {
    font-size: 1.5em;
    font-family: Barlow;
  } */
}
@media (max-width: 1024px) {
  .desktop,
  .mobile,
  .IpadPro {
    display: none;
  }
  .IpadQuer {
    display: block;
  }
  /* p {
    font-size: 1.5em;
    font-family: Barlow;
  } */
}
@media (max-width: 600px) {
  .desktop,
  .IpadPro,
  .IpadQuer {
    display: none;
    /* font-size: 2px; */
  }
  .mobile {
    display: block;
  }
  .img-container {
    height: 600px;
  }
}
