@import url("http://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  font-family: Barlow;
  color: white;
}

/* Main body */
body {
  /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
  background-image: url(../src/Images/ÜberUns/Desktop//Fotos/textureImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bodyComponentLayout {
  margin-inline: 5.5%;
}
/* Navigation css*/
.MuiAppBar-positionStatic.MuiAppBar-positionStatic {
  background-color: transparent;
}

h1 {
  font-size: 5.3125em;
}
h2 {
  font-size: 3.3125em;
}
p {
  font-size: 1em;
}

h6 {
  /* color: darkgoldenrod;  */

  margin: 0px;
}
h3 {
  /* color: darkgoldenrod;  */
  font-size: 40px;
  color: #ecbd46;
  font-family: "TGL0-1451Engschrift";
}
h4 {
  font-size: 1.5em;
  color: #ecbd46;
}

/* */

/* Button css*/

.MuiButton-root.MuiButton-root {
  font-weight: 500;
  font-stretch: semi-condensed;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.MuiTypography-body2.MuiTypography-body2 {
  color: "#a4a4a4";
}
/* footer+/ css*/
.makeStyles-footer-8.makeStyles-footer-8 {
  border-top: 1px solid #ffffff;
}

/* used for the height of text field for message in contact us page */
/* .MuiOutlinedInput-root.MuiOutlinedInput-root {
  height: 262px;
} */

.MuiTypography-colorTextSecondary.MuiTypography-colorTextSecondary {
  color: #ffffff;
}
.MuiPaper-root.MuiPaper-root {
  background-color: black;
}
.IpadPro,
.mobile,
.IpadQuer {
  display: none;
}
.dash {
  width: 14%;
  margin-top: -40px;
}
.image {
  max-height: 350px;
}

/* media querry*/
.textHeaderColor {
  color: rgb 236 189 70;
}
/* .textColor {
  color: white;
} */
@media (max-width: 1366px) {
  .desktop,
  .mobile,
  .IpadQuer {
    display: none;
  }
  .IpadPro {
    display: block;
  }
}
@media (max-width: 1024px) {
  .desktop,
  .mobile,
  .IpadPro {
    display: none;
  }
  .IpadQuer {
    display: block;
  }
}
@media (max-width: 375px) {
  .desktop,
  .IpadPro,
  .IpadQuer {
    display: none;
    font-size: 2px;
  }
  .mobile {
    display: block;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2.25em;
  }
  p {
    font-size: 1.5em;
  }
}
